apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dotnet-dec7-dj
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: dotnet-dec7-dj
    spec:
      containers:
      - name: dotnet-dec7-dj
        image: dibyajyoti-mohanta/dotnet-dec7_dibyajyoti_trainee:#{Build.BuildId}#
        ports:
        - name: dj-port
          containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: dotnet-dec7-dj
spec:
  ports:
  - port: 8888
    nodePort: 31235
    targetPort: dj-port
    protocol: TCP
  selector:
    app: dotnet-dec7-dj
  type: LoadBalancer
